# vscode files
.vscode/

# twitter data directories
college_followers/
college-followers/
metoo-tweets/

# clustering result directory
clusters/

# TRIPS parser result directory
results/

# TRIPS vagrant directory
vagrant-trips/

# SEMAFOR directory
semafor/
