# vscode files
.vscode/

# twitter data directories
/tweet-scraper/metoo-tweets
/tweet-scraper/user-batches
/user-scraper/college-followers

# clustering result directory
lda/clusters/

# TRIPS directories
vagrant-trips/

# SEMAFOR directory
semafor/
